// Variables
@import "./variables";

// Core
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: $dark;
}

body {
  background-color: #cccccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background-color: $dark;
  color: $light;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

// Navigation
.main-nav {
  ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  }

  a {
    background-color: $primary;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: $dark;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: $shadow;

    &:hover {
      background-color: $dark;
      color: $primary;
    }
  }
}
